AI_Model/v1/*.h5 filter=lfs diff=lfs merge=lfs -text
AI_Model/v1/*.joblib filter=lfs diff=lfs merge=lfs -text
AI_Model/v2/*.h5 filter=lfs diff=lfs merge=lfs -text
AI_Model/v2/*.joblib filter=lfs diff=lfs merge=lfs -text
AI_Model/v2/*.keras filter=lfs diff=lfs merge=lfs -text
